{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <a href="{% url 'polls:index' %}">Return to home</a>
{% endblock %}